<template>
    <div>
        <div class="element-box">
            <div class="element-box">
                <form enctype="multipart/form-data">
                    <br><h5>Company Detail</h5>
                    <div class="form-group">
                        <label for=""> Company Name</label><input class="form-control" v-model="company.company_name"  placeholder="Company Name" type="text">
                        <div class="help-block form-text text-muted form-control-feedback red-color">
                            {{ errors.get('company_name') }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""> Registration Number</label><input class="form-control" v-model="company.company_registration_number" placeholder="Registration Number" type="text">
                            </div>
                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                {{ errors.get('company_registration_number') }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Tax Identification Number</label><input  class="form-control" v-model="company.tax_identity_number" placeholder="Tax Identification Number" type="text">
                            </div>
                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                {{ errors.get('tax_identity_number') }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""> Data Of Incorporation</label>
                                <div class="date-input">
                                    <input class="single-daterange form-control" v-model="company.date_of_incorporation"   placeholder="dd/mm/yyy" type="date" value="">
                                </div>
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('date_of_incorporation') }}
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""> Date Of Commencement Of Service</label>
                                <div class="date-input">
                                    <input class="single-daterange form-control" v-model="company.date_of_commencement_of_service" placeholder="dd/mm/yyy" type="date" value="">
                                </div>
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('date_of_commencement_of_service') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Petroleum Commision Permit Number</label><input v-model="company.petroleum_commision_permit_number" class="form-control" placeholder="Petroleum Commision Permit Number" type="text">
                        <div class="help-block form-text text-muted form-control-feedback red-color">
                            {{ errors.get('petroleum_commision_permit_number') }}
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label for=""> Ownership</label><input class="form-control" v-model="company.ownership"  placeholder="Ownership" type="text">
                        <div class="help-block form-text text-muted form-control-feedback red-color">
                            {{ errors.get('ownership') }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="">Postal Aaddress </label>
                                <input class="form-control" placeholder=" " v-model="company.postal_address" type="text">

                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('postal_address') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for=""> Telephone</label>
                                <input class="form-control" placeholder="Telephone " v-model="company.telephone" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('telephone') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for=""> Website Address</label>
                                <input class="form-control" placeholder="Website Address " v-model="company.website_address" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('website_address') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="">Plot Number </label>
                                <input class="form-control" placeholder="#Plot " v-model="company.house_or_plot_number" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('house_or_plot_number') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for=""> Street Name</label>
                                <input class="form-control" placeholder="Street Name " v-model="company.street_name" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('street_name') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for=""> City</label>
                                <input class="form-control" placeholder="City " v-model="company.city" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('city') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for=""> Region</label>
                                <input class="form-control" placeholder="Region " v-model="company.region" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('region') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <br><h5>Head Of Company Dtails  </h5><br>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""> Name Of Head Of Company</label>
                                <input class="form-control" placeholder="" v-model="company.name_of_head_of_company" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('name_of_head_of_company') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""> Head Position</label>
                                <input class="form-control" placeholder="" v-model="company.head_position" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('head_position') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Head Phone Number </label>
                                <input class="form-control" placeholder=" " v-model="company.head_phone" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('head_phone') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""> Head Email</label>
                                <input class="form-control" placeholder="" v-model="company.head_email" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('head_email') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <br><h5>Enquire Personal Dtails  </h5><br>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Enquire Personal Name </label>
                                <input class="form-control" placeholder="" v-model="company.enquire_personal_name" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('enquire_personal_name') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""> Enquire Personal Email</label>
                                <input class="form-control" placeholder="" v-model="company.enquire_personal_email" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('enquire_personal_email') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Enquire Personal Position </label>
                                <input class="form-control" placeholder="" v-model="company.enquire_personal_position" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('enquire_personal_position') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""> Enquire Personal Business Address</label>
                                <input class="form-control" placeholder="" v-model="company.enquire_personal_business_address" type="text">
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('enquire_personal_business_address') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Enquire Personal  Address</label>
                        <input class="form-control" placeholder="" v-model="company.enquire_personal_address" type="text">
                        <div class="help-block form-text text-muted form-control-feedback red-color">
                            {{ errors.get('enquire_personal_address') }}
                        </div>
                    </div>
                

                <div class="help-block form-text text-muted form-control-feedback red-color" v-if="newErrors.length" >
                    <li v-for="error in newErrors" :key="error.id">{{ error }}</li>
                </div>

                <div class="row shareholderParent">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input class="form-control"  v-model="percentages.name" placeholder="Enter shareholder name" type="text">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <input class="form-control" placeholder="Email " v-model="percentages.email" type="email">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <input class="form-control" placeholder="Phone" v-model="percentages.phone" type="text">
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input class="form-control" v-model="percentages.percentage" placeholder="%! shareholders percentage" type="text">
                        </div>
                    </div>
                </div>

                <button @click="addShareholder" type="button" class="btn mb-3 btn-primary">Add share Holders</button>

                <div class="table-responsive">
                    <table class="table table-bordered table-lg table-v2 table-striped">
                    <thead>
                        <tr>
                        <th class="text-center">
                            no
                        </th>
                        <th>
                            Name of Shareholder
                        </th>
                        <th>
                            Email of Shareholder
                        </th>
                        <th>
                            Phone Number Shareholder
                        </th>
                        <th>
                            Percentage acquired
                        </th>
                        <th>
                            Actions
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="shareholderParent" v-for="(shareholder,index) in shareholders" :key="shareholder.id">
                        <td class="text-center">
                            {{ index + 1 }}
                        </td>
                        <td>
                            {{ shareholder.name }}
                        </td>
                        <td class="text-right">
                            {{ shareholder.email }}
                        </td>
                        <td>
                            {{ shareholder.phone }}
                        </td>
                        <td class="text-center">
                            {{ shareholder.percentage }}
                        </td>
                        <td class="row-actions">
                            <button class="danger" @click.prevent="removeShareholder(index)"><i class="os-icon os-icon-ui-15"></i></button>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <br> 
                <div class="help-block form-text text-muted form-control-feedback red-color" v-if="newErrors.length">
                    <li v-for="error in newErrors" :key="error.id">{{ error }}</li>
                </div>
                <br>

                

                <div class="row">
                    <div class="col-sm-8 parent">
                        <div class="form-group" >
                            <input class="form-control" v-model="service.name" placeholder=" Enter Services rendered" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                        <label for=""> </label>
                            <button type="button" class="btn btn-primary mb-3" @click="addService"> Click to add service</button>
                        </div>
                    </div>
                </div>

                <br>

                <div class="table-responsive">
                    <table class="table table-bordered table-lg table-v2 table-striped">
                        <thead>
                            <tr>
                            <th class="text-center">
                                no
                            </th>
                            <th>
                                Name of Shareholder
                            </th>
                            <th>
                                Actions
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="parent" v-for="(serve,index) in services" :key="serve.id">
                            <td class="text-center">
                                {{ index + 1 }}
                            </td>
                            <td>
                                {{ serve.name }}
                            </td>
                            <td class="row-actions">
                                <button class="danger" @click.prevent="removeService(index)"><i class="os-icon os-icon-ui-15"></i></button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div><br><br>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary mb-3" @click.prevent="CompanyDetail"> Save Company Detail</button>
                        </div>
                    </div>
                </div>

                <h6> Attach Company Files </h6><br>

                <div class="row" v-if="showfile"> 
                
                    <div class="col-sm-8" v-if="showfile">
                        <div class="form-group">
                            <input class="form-control" id="files" ref="files"  type="file"  multiple @change="changeImage" >
                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                {{ errors.get('files') }}
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary mb-3" @click.prevent="upload">Upload File</button>
                        </div>
                    </div>
                </div>

                <div class="row" v-if="showfile">
                    <div class="col-sm-2" v-for="(image) in images" :key="image.id">
                        <img :src="image.file" alt="images" class="img-thumbnail img-fluid image-height img-responsive">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    import axios from 'axios'

    class Errors {
        constructor () {
            this.errors = {}
        }

        get(field){
            if(this.errors[field]){
                return this.errors[field][0]
            }
        }

        record(errors){
            this.errors = errors.errors
        }
    }

    export default {
        name: 'CompanyDetail',
        props: ['companies', 'user', 'uploads'],
         mounted() {
            if(this.uploads.length > 0){
                this.uploads.map(dataUrl => {
                    this.images.push({file: dataUrl.file, id: dataUrl.id})
                })
            }
        },
        data ( ) {
            return {
                services : this.companies ? JSON.parse(this.companies.service_provided) : [],
                serviceList : {},
                shareholders: this.companies ? JSON.parse(this.companies.names_of_shareholder_with_percentage) : [],
                company: {
                    company_name: this.companies ? this.companies.company_name : '',
                    company_registration_number: this.companies ? this.companies.company_registration_number : '',
                    tax_identity_number: this.companies ? this.companies.tax_identity_number : this.user.tax_identification_number,
                    date_of_commencement_of_service: this.companies ? this.companies.date_of_commencement_of_service : this.user.registration_number,
                    date_of_incorporation: this.companies ? this.companies.date_of_incorporation : '',
                    petroleum_commision_permit_number: this.companies ? this.companies.petroleum_commision_permit_number : '',
                    ownership: this.companies ? this.companies.ownership : '',
                    postal_address: this.companies ? this.companies.postal_address : '',
                    telephone: this.companies ? this.companies.telephone : '',
                    website_address: this.companies ? this.companies.website_address : '',
                    house_or_plot_number: this.companies ? this.companies.house_or_plot_number : '',
                    street_name: this.companies ? this.companies.street_name : '',
                    city: this.companies ? this.companies.city : '',
                    region: this.companies ? this.companies.region : '',
                    head_email: this.companies ? this.companies.head_email : '',
                    name_of_head_of_company: this.companies ? this.companies.name_of_head_of_company : '',
                    head_position: this.companies ? this.companies.head_position : '',
                    head_phone: this.companies ? this.companies.head_phone : '',
                    enquire_personal_name: this.companies ? this.companies.enquire_personal_name : '',
                    enquire_personal_email: this.companies ? this.companies.enquire_personal_email : '',
                    enquire_personal_position: this.companies ? this.companies.enquire_personal_position : '',
                    enquire_personal_business_address: this.companies ? this.companies.enquire_personal_business_address : '',
                    enquire_personal_address: this.companies ? this.companies.enquire_personal_address : '',
                        },
                names_of_shareholder_with_percentage: '',
                service_provided: '',
                service: {},
                percentages: { },
                errors: new Errors(),
                newErrors: [],
                files: '',
                images: [],
                showfile: this.companies ? true : false
            }
        },
        methods: {
            addService(){
                this.newErrors = []

                if(!this.service.name){
                    this.newErrors.push(' Emter the services code')
                    this.$toastr.w("All file must be entered correctly before submiting");
                    return;
                }

                if(this.service.name){
                    this.services.push(this.service)
                    this.service = {}
                }
            },
            removeService(index){
                this.services.splice(index);
            },
            addShareholder(){
               
               this.newErrors = [];

                if (!this.percentages.name) {
                    this.newErrors.push("Please enter share holder name");
                }

                if (!this.percentages.email) {
                    this.newErrors.push("Enter share holders email");
                } else if (!this.validEmail(this.percentages.email)){
                    this.newErrors.push("Please enter a valid email")
                }

                if (!this.percentages.phone) {
                    this.newErrors.push("Enter share holders phone");
                }

                if (!this.percentages.percentage) {
                    this.newErrors.push("Enter share holders percentage");
                }

                if(this.percentages.name && this.percentages.email && this.percentages.phone && this.percentages.percentage && this.validEmail(this.percentages.email)){
                    this.shareholders.push(this.percentages)
                    this.percentages = {}
                } else{ 
                    this.$toastr.w('Please enter shareholder input');
                }
                
            },
            removeShareholder(index){
                this.shareholders.splice(index)
            },
            changeImage(e) {
                this.files = this.$refs.files.files;
            },
            async CompanyDetail () {
                if (this.shareholders.length > 0 && this.services.length > 0){
                    try {
                        this.names_of_shareholder_with_percentage = JSON.stringify(this.shareholders)
                        this.service_provided = JSON.stringify(this.services)

                        const res = await axios.post('/companydetail/post', {
                                    company_name: this.company.company_name,
                                    company_registration_number: this.company.company_registration_number,
                                    tax_identity_number: this.company.tax_identity_number,
                                    date_of_commencement_of_service: this.company.date_of_commencement_of_service,
                                    date_of_incorporation: this.company.date_of_incorporation,
                                    petroleum_commision_permit_number: this.company.petroleum_commision_permit_number,
                                    ownership: this.company.ownership,
                                    postal_address: this.company.postal_address,
                                    telephone: this.company.telephone,
                                    website_address: this.company.website_address,
                                    house_or_plot_number: this.company.house_or_plot_number,
                                    street_name: this.company.street_name,
                                    city: this.company.city,
                                    region: this.company.region,
                                    head_email: this.company.head_email,
                                    name_of_head_of_company: this.company.name_of_head_of_company,
                                    head_position: this.company.head_position,
                                    head_phone: this.company.head_phone,
                                    enquire_personal_name: this.company.enquire_personal_name,
                                    enquire_personal_email: this.company.enquire_personal_email,
                                    enquire_personal_position: this.company.enquire_personal_position,
                                    enquire_personal_business_address: this.company.enquire_personal_business_address,
                                    enquire_personal_address: this.company.enquire_personal_address,
                                    service_provided: this.service_provided,
                                    names_of_shareholder_with_percentage: this.names_of_shareholder_with_percentage
                        })
                        this.$toastr.s('Congratulation you have updated your company information')
                    } catch(error){
                        this.errors.record(error.response.data)
                    }
                }
            },

            async upload () {
               let formData = new FormData();
                for( var i = 0; i < this.files.length; i++ ){
                let file = this.files[i];

                formData.append('files[' + i + ']', file);

                }
                const config = { headers: { 'Content-Type' : 'multipart/form-data'}}

                const id = this.companies.id

                try {
                    const res = await axios.post(`/companydetail/${id}`, formData, {
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    }
                                })
                    this.images = []
                    res.data.data.map(dataUrl  => {
                        this.images.push({file: dataUrl.file, id: dataUrl.id})
                    })
                    this.$toastr.s('Congratulation! all files has been uploaded successfully')
                } catch (e){
                    this.errors.record(e.response.data)
                }
            },

            validEmail ( email ) {
                const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        },
    }
</script>

<style scoped>
.red-color {
    color: Tomato !important;
}
.image-height{
    width: 100%;
    height: auto;
}
</style>

