<template>
    <div class="element-box">
        <form >
            <h5 class="form-header">Financial Plan</h5>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="">Name Of Bank</label><input class="form-control" v-model="financial.name_of_banks" placeholder="name of bank" type="text">
                    </div>
                    <div class="help-block form-text text-muted form-control-feedback red-color">
                        {{ errors.get('name_of_banks') }}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">Office Location</label><input class="form-control" v-model="financial.office_location" placeholder="location of banks" type="text">
                    </div>
                    <div class="help-block form-text text-muted form-control-feedback red-color">
                        {{ errors.get('office_location') }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for=""> Branch</label><input class="form-control" v-model="financial.branch" placeholder="" type="Branch of bank">
                    </div>
                    <div class="help-block form-text text-muted form-control-feedback red-color">
                        {{ errors.get('branch') }}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for=""> Date Of Engagement</label><input class="form-control" v-model="financial.date_of_engagement" placeholder="dd/mm/yyy" type="date">
                    </div>
                    <div class="help-block form-text text-muted form-control-feedback red-color">
                        {{ errors.get('date_of_engagement') }}
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for=""> Name Of Indigenous Bank</label>
                        <input class="form-control" v-model="financial.name_of_indigenous_bank" placeholder="" type="text">
                    </div>

                    <div class="help-block form-text text-muted form-control-feedback red-color">
                        {{ errors.get('name_of_indigenous_bank') }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label for=""> Indigenous Bank Financial Expenditure</label>
                        <input class="form-control" v-model="financial.indigenous_bank_financial_expenditure" placeholder="" type="text">
                    </div>
                    <div class="help-block form-text text-muted form-control-feedback red-color">
                        {{ errors.get('indigenous_bank_financial_expenditure') }}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">Indegineous Date Of Engagement</label><input class="form-control" v-model="financial.indigenous_bank_date_of_engagement" placeholder="dd/mm/yyy" type="date">
                    </div>
                    <div class="help-block form-text text-muted form-control-feedback red-color">
                        {{ errors.get('indigenous_bank_date_of_engagement') }}
                    </div>
                </div>

            </div>

            <h6> Financial Service For Pass Six Month </h6><br>

            
            <div class="help-block form-text text-muted form-control-feedback red-color" v-if="inputError1.length">
                    <li v-for="error1 in inputError1" :key="error1.id">{{ error1 }}</li>
                </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="form-control" v-model="past_six_month.name" placeholder="Title" type="text">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="form-control" v-model.number="past_six_month.amount" placeholder="Amount given" type="text">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" @click.prevent="PsixMonth">Add</button>
                    </div>
                </div>

            </div>

            <div class="table-responsive" v-if="past_six_month_finances.length">
                    <table class="table table-bordered table-lg table-v2 table-striped">
                    <thead>
                        <tr>
                        <th class="text-center">
                            no
                        </th>
                        <th>
                            Title Financial Service 
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Actions
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="shareholderParent" v-for="(finances,index) in past_six_month_finances" :key="finances.id">
                        <td class="text-center">
                            {{ index + 1 }}
                        </td>
                        <td>
                            {{ finances.name }}
                        </td>
                        <td class="text-right">
                            {{ finances.amount }}
                        </td>
                        <td class="row-actions">
                            <button class="danger" @click.prevent="removeFinanciesPastSix(index)"><i class="os-icon os-icon-ui-15"></i></button>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>

            
            <h6> Financial Service For Next Six Month </h6><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="form-control" v-model="next_six_month.name" placeholder="Title" type="text">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="form-control" v-model.number="next_six_month.amount" placeholder="Amount given" type="text">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" @click.prevent="NsixMonth">Add</button>
                    </div>
                </div>
            </div> 

            <div class="table-responsive" v-if="next_six_month_finances.length">
                    <table class="table table-bordered table-lg table-v2 table-striped">
                    <thead>
                        <tr>
                        <th class="text-center">
                            no
                        </th>
                        <th>
                            Title Financial Service 
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Actions
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="shareholderParent" v-for="(finan,index) in next_six_month_finances" :key="finan.id">
                        <td class="text-center">
                            {{ index + 1 }}
                        </td>
                        <td>
                            {{ finan.name }}
                        </td>
                        <td class="text-right">
                            {{ finan.amount }}
                        </td>
                        <td class="row-actions">
                            <button class="danger" @click.prevent="removeFinanciesNextSix(index)"><i class="os-icon os-icon-ui-15"></i></button>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>

            
            

            <h6> Expenditure For Past Six Month </h6><br>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <input class="form-control" v-model="past_expenditure_six_month.name" placeholder="Name/title" type="text">
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <input class="form-control" v-model.number="past_expenditure_six_month.amount" placeholder="Amount" type="text">
                    </div>
                </div>
                
                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" @click.prevent="PExsixMonth">Add</button>
                    </div>
                </div>

            </div>

            <div class="table-responsive" v-if="past_six_month_expenditure.length">
                    <table class="table table-bordered table-lg table-v2 table-striped">
                    <thead>
                        <tr>
                        <th class="text-center">
                            no
                        </th>
                        <th>
                            Title Financial Service 
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Actions
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="shareholderParent" v-for="(expenditure,index) in past_six_month_expenditure" :key="expenditure.id">
                        <td class="text-center">
                            {{ index + 1 }}
                        </td>
                        <td>
                            {{ expenditure.name }}
                        </td>
                        <td class="text-right">
                            {{ expenditure.amount }}
                        </td>
                        <td class="row-actions">
                            <button class="danger" @click.prevent="removeExpenditurePastSix(index)"><i class="os-icon os-icon-ui-15"></i></button>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>

            
            

            <h6> Expenditure For Next Six Month </h6><br>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <input class="form-control" v-model="next_expenditure_six_month.name" placeholder="Name/title" type="text">
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <input class="form-control" v-model.number="next_expenditure_six_month.amount" placeholder="Amount" type="text">
                    </div>
                </div>
                
                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" @click.prevent="NExsixMonth">Add</button>
                    </div>
                </div>

            </div>

            <div class="table-responsive" v-if="next_six_month_expenditure.length">
                    <table class="table table-bordered table-lg table-v2 table-striped">
                    <thead>
                        <tr>
                        <th class="text-center">
                            no
                        </th>
                        <th>
                            Title Financial Service 
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Actions
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="shareholderParent" v-for="(expend,index) in next_six_month_expenditure" :key="expend.id">
                        <td class="text-center">
                            {{ index + 1 }}
                        </td>
                        <td>
                            {{ expend.name }}
                        </td>
                        <td class="text-right">
                            {{ expend.amount }}
                        </td>
                        <td class="row-actions">
                            <button class="danger" @click.prevent="removeExpenditureNextSix(index)"><i class="os-icon os-icon-ui-15"></i></button>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>

            
            

            <h6> List Of Expenditure  </h6><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="form-control" v-model="list_expenditure.name" placeholder="Name" type="text">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" v-model="list_expenditure.nature" placeholder="Nature" type="text">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" v-model.number="list_expenditure.amount" placeholder="Amount" type="text">
                    </div>
                </div>
                
                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" @click.prevent="ListExp">Add  </button>
                    </div>
                </div>
            </div>

            <div class="table-responsive" v-if="nature_of_finaces.length">
                    <table class="table table-bordered table-lg table-v2 table-striped">
                    <thead>
                        <tr>
                        <th class="text-center">
                            no
                        </th>
                        <th>
                            Title Financial Service 
                        </th>

                        <th>
                            Nature
                        </th>

                        <th>
                            Amount
                        </th>
                        <th>
                            Actions
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="shareholderParent" v-for="(nature,index) in nature_of_finaces" :key="nature.id">
                        <td class="text-center">
                            {{ index + 1 }}
                        </td>

                        <td>
                            {{ nature.name }}
                        </td>
                        <td>
                            {{ nature.nature }}
                        </td>
                        <td class="text-right">
                            {{ nature.amount }}
                        </td>
                        <td class="row-actions">
                            <button class="danger" @click.prevent="removeNature(index)"><i class="os-icon os-icon-ui-15"></i></button>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit" @click.prevent="submitFinance"> Submit</button>
            </div>

            <div class="row" v-if="financies_detail">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for=""> Attach Files</label>
                        <input class="form-control" id="files" ref="files"  type="file"  multiple @change="changeImage" >
                        <div class="help-block form-text text-muted form-control-feedback red-color">
                                {{ errors.get('files') }}
                            </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-buttons-w">
                        <button class="btn btn-primary" type="submit" @click.prevent="upload"> Submit</button>
                    </div>
                </div>
            </div>

            <div class="row" v-if="showfile">
                <div class="col-sm-2" v-for="(image) in images" :key="image.id">
                    <img :src="image.file" alt="images" class="img-thumbnail img-fluid image-height img-responsive">
                </div>
            </div>

        </form>
    </div>
</template>

<script>
    import axios from 'axios'

    class Errors {
        constructor () {
            this.errors = {}
        }

        get(field){
            if(this.errors[field]){
                return this.errors[field][0]
            }
        }

        record(errors){
            this.errors = errors.errors
        }
    }
    
    export default {
       name: 'FinancialPlan',
       props: ['financies_detail', 'user', 'uploads'],
       mounted() {
            if(this.uploads.length > 0){
                this.uploads.map(dataUrl => {
                    this.images.push({file: dataUrl.file, id: dataUrl.id})
                })
            }
           
        },
       data (){
           return {
               errors: new Errors(),
               inputError1: [],
               inputError2: [],
               inputError3: [],
               inputError4: [],
               inputError5: [],
               past_six_month_finances: this.financies_detail ? JSON.parse(this.financies_detail.financial_service_for_pass_six_month) : [],
               next_six_month_finances: this.financies_detail ? JSON.parse(this.financies_detail.financial_service_for_next_six_month) : [],
               past_six_month_expenditure: this.financies_detail ? JSON.parse(this.financies_detail.financial_expenditure_for_pass_six_month) : [],
               next_six_month_expenditure: this.financies_detail ? JSON.parse(this.financies_detail.financial_expenditure_for_next_six_month) : [],
               nature_of_finaces: this.financies_detail ? JSON.parse(this.financies_detail.list_of_service_expenditure) : [],
               financial: {
                   name_of_banks: this.financies_detail ? this.financies_detail.name_of_banks :  '',
                   office_location: this.financies_detail ? this.financies_detail.office_location :  '',
                   branch: this.financies_detail ? this.financies_detail.branch :  '',
                   date_of_engagement: this.financies_detail ? this.financies_detail.date_of_engagement :  '',
                   name_of_indigenous_bank: this.financies_detail ? this.financies_detail.name_of_indigenous_bank :  '',
                   indigenous_bank_financial_expenditure: this.financies_detail ? this.financies_detail.indigenous_bank_financial_expenditure :  '',
                   indigenous_bank_date_of_engagement: this.financies_detail ? this.financies_detail.indigenous_bank_date_of_engagement :  '',
                   
               },
               past_six_month: {},
               next_six_month: {},
               past_expenditure_six_month: {},
               next_expenditure_six_month: {},
               list_expenditure: {},
               showfile: this.financies_detail ? true : false, 
               images: [],
               files: ''
           }
       },
       methods: {
           PsixMonth () {
               this.inputError1 = []
               if (!this.past_six_month.name && !this.past_six_month.amount){
                   this.inputError1.push('Enter the two field is required')
                    this.$toastr.w("you have some field that has not been entered");
                   return false
               } else if( isNaN(this.past_six_month.amount)){
                   this.inputError1.push('Please enter a number on the amount')
                    this.$toastr.w("you dint enter the correct format");
                    return false
               }

               if(this.past_six_month){
                   this.past_six_month_finances.push(this.past_six_month)
                   this.past_six_month = {}
               }
           },
           NsixMonth () {
               this.inputError2 = []
               if (!this.next_six_month.name && !this.next_six_month.amount){
                   this.inputError2.push('Enter the two field is required')
                    this.$toastr.w("you have some field that has not been entered");
                   return false
               } else if( isNaN(this.next_six_month.amount)){
                   this.inputError2.push('Please enter a number on the amount')
                    this.$toastr.w("you dint enter the correct format");
                    return false
               }

               if(this.next_six_month){
                   this.next_six_month_finances.push(this.next_six_month)
                   this.next_six_month = {}
               }
           },
           PExsixMonth () {
               this.inputError3 = []
               if (!this.past_expenditure_six_month.name && !this.past_expenditure_six_month.amount){
                   this.inputError3.push('Enter the two field is required')
                    this.$toastr.w("you have some field that has not been entered");
                   return false
               } else if( isNaN(this.past_expenditure_six_month.amount)){
                   this.inputError3.push('Please enter a number on the amount')
                    this.$toastr.w("you dint enter the correct format");
                    return false
               }

               if(this.past_expenditure_six_month){
                   this.past_six_month_expenditure.push(this.past_expenditure_six_month)
                   this.next_six_month = {}
               }
           },
           NExsixMonth () {
               this.inputError4 = []
               if (!this.next_expenditure_six_month.name && !this.next_expenditure_six_month.amount){
                   this.inputError4.push('Enter the two field is required')
                    this.$toastr.w("you have some field that has not been entered");
                   return false
               } else if( isNaN(this.next_expenditure_six_month.amount)){
                   this.inputError4.push('Please enter a number on the amount')
                    this.$toastr.w("you dint enter the correct format");
                    return false
               }

               if(this.next_expenditure_six_month){
                   this.next_six_month_expenditure.push(this.next_expenditure_six_month)
                   this.next_expenditure_six_month = {}
               }
           },
           ListExp () {
               this.inputError5 = []
               if (!this.list_expenditure.name && this.list_expenditure.nature && !this.list_expenditure.amount){
                   this.inputError5.push('Enter the two field is required')
                    this.$toastr.w("you have some field that has not been entered");
                   return false
               } else if( isNaN(this.list_expenditure.amount)){
                   this.inputError5.push('Please enter a number on the amount')
                    this.$toastr.w("you dint enter the correct format");
                    return false
               }

               if(this.list_expenditure){
                   this.nature_of_finaces.push(this.list_expenditure)
                   this.list_expenditure = {}
               }
           },



           removeFinanciesPastSix (index) {
               this.past_six_month_finances.splice(index)
           },

           removeFinanciesNextSix(index) {
                this.next_six_month_finances.splice(index)
           },

           removeExpenditurePastSix (index){
               this.past_six_month_expenditure.splice(index)
           },

           removeExpenditureNextSix (index) {
               this.next_six_month_expenditure.splice(index)
           },

           removeNature (index) {
               this.nature_of_finaces.splice(index)
           },
           changeImage(e) {
                this.files = this.$refs.files.files;
            },

            async submitFinance () {
                if (this.past_six_month_finances.length > 0 && this.next_six_month_finances.length > 0 && this.past_six_month_expenditure.length > 0 && this.next_six_month_expenditure.length > 0 && this.nature_of_finaces.length > 0){
                    try {
                        
                        const financial_service_for_pass_six_month = JSON.stringify(this.past_six_month_finances)
                        const financial_service_for_next_six_month = JSON.stringify(this.next_six_month_finances)
                        const financial_expenditure_for_pass_six_month = JSON.stringify(this.past_six_month_expenditure)
                        const financial_expenditure_for_next_six_month = JSON.stringify(this.next_six_month_expenditure)
                        const list_of_service_expenditure = JSON.stringify(this.nature_of_finaces)

                        const res = await axios.post('/financial/post', {
                                    name_of_banks: this.financial.name_of_banks,
                                    office_location: this.financial.office_location,
                                    branch: this.financial.branch,
                                    date_of_engagement: this.financial.date_of_engagement,
                                    name_of_indigenous_bank: this.financial.name_of_indigenous_bank,
                                    indigenous_bank_financial_expenditure: this.financial.indigenous_bank_financial_expenditure,
                                    indigenous_bank_date_of_engagement: this.financial.indigenous_bank_date_of_engagement,
                                    financial_service_for_pass_six_month,
                                    financial_service_for_next_six_month,
                                    financial_expenditure_for_pass_six_month,
                                    financial_expenditure_for_next_six_month,
                                    list_of_service_expenditure
                        })
                        if (res.data) {
                            this.$toastr.s('Congratulation you have updated your company information')
                        }
                    } catch(error){
                        this.errors.record(error.response.data)
                    }
                } else {
                    this.$toastr.w('Please make sure you enter all field correct')
                }
            },

            async upload () {
               let formData = new FormData();
                for( var i = 0; i < this.files.length; i++ ){
                let file = this.files[i];

                formData.append('files[' + i + ']', file);

                }
                const config = { headers: { 'Content-Type' : 'multipart/form-data'}}

                if(!this.financies_detail){
                    this.$toastr.s('Sorry you have not added any financial detail')
                    return false
                }

                const id = this.financies_detail.id



                try {
                    const res = await axios.post(`/financial/${id}`, formData, {
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    }
                                })
                    this.images = []
                    res.data.data.map(dataUrl  => {
                        this.images.push({file: dataUrl.file, id: dataUrl.id})
                    })
                    this.$toastr.s('Congratulation! all files has been uploaded successfully')
                } catch (e){
                    this.errors.record(e.response.data)
                }
            },

            validEmail ( email ) {
                const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
       }
    }
</script>

<style scoped>
.red-color {
    color: Tomato !important;
}
.image-height{
    width: 100%;
    height: auto;
}
</style>
