<template>
 <div class="element-box" >
    <h5 class="form-header" >
    Indigenous Plan Details
        <button class="float-right btn btn-success" data-target="#preview" data-toggle="modal" type="button" style="margin: 0px 4px" >Preview</button>
        <button class="float-right btn btn-primary" @click.prevent="newModal" data-toggle="modal" type="button">Add</button>
        <!-- <button class="float-right btn btn-primary" data-target="#add" data-toggle="modal" type="button">Add</button> -->
    </h5>
    <div class="form-desc">
    Easily delete, suspend and change status of a plan
    </div>
    <!-- Start Table -->
    <div class="table-responsive"   >
        <table id="dataTable1" width="100%" class="table table-striped table-lightfont dataTable" role="grid" aria-describedby="dataTable1_info" >
            <thead>
                <tr>
                    <th style="width: 400px;">Name Of Bank</th>
                    <th style="width: 400px;">Office Location</th>
                    <th style="width: 200px;" >Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr v-for="(bank, index) in banks" :key="index">
                    <td>{{bank.name_of_banks}}</td>
                    <td>{{bank.office_location}}</td>
                    <td style="display: flex;">
                        <button class="mr-1 mb-1 btn btn-danger" ><a><i class="fa fa-trash-o"></i></a></button> 
                        <button class="mr-1 mb-1 btn btn-primary" data-toggle="modal" @click="editModal(bank)" type="button">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Ends Table -->

    
        <!-- Edit Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="add-edit" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Indeigenous Plan
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" id="add-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Name Of Bank</label><input class="form-control"  v-model="indigeneous.name_of_banks" placeholder="" type="text">
                                </div>
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('name_of_banks') }}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""> Office Location</label><input class="form-control"  v-model="indigeneous.office_location" placeholder="" type="text">
                                </div>
                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                    {{ errors.get('office_location') }}
                                </div>
                                <!-- <input class="form-control"  v-model="indigeneous.hidden" readonly type="hidden"> -->
                            </div>
                        </div>


                            <div class="help-block form-text text-muted form-control-feedback red-color" v-if="inputError3.length">
                                <li v-for="error1 in inputError3" :key="error1.id">{{ error1 }}</li>
                            </div>
                        <div class="row">
                            
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="">List Title</label><input class="form-control" v-model="list.name" placeholder="title of service" type="text">
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="">Amount incurred</label><input class="form-control" v-model="list.amount" placeholder="Amount" type="text">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <div class="mt-3">
                                        <button class="btn btn-primary" type="button" @click.prevent="addNewList">Add list</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="table-responsive" v-if="lists.length">
                            <table class="table table-bordered table-lg table-v2 table-striped">
                            <thead>
                                <tr>
                                <th class="text-center">
                                    no
                                </th>
                                <th>
                                    List Title
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Actions
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="shareholderParent" v-for="(listed,index) in lists" :key="listed.id">
                                <td class="text-center">
                                    {{ index + 1 }}
                                </td>
                                <td>
                                    {{ listed.name }}
                                </td>
                                <td class="text-right">
                                    {{ listed.amount }}
                                </td>
                                <td class="row-actions">
                                    <button class="danger" @click.prevent="removeExpenditurePastSix(index)"><i class="os-icon os-icon-ui-15"></i></button>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>

                        <!--Ends  -->
                        <div class="float-right mt-5">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                            <button class="btn btn-primary" type="button" @click.prevent="editMode ? submitEdit() :submitForm()">Save</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Edit Modal -->
    
</div>
</template>

<script>
import axios from 'axios'

    class Errors {
        constructor () {
            this.errors = {}
        }

        get(field){
            if(this.errors[field]){
                return this.errors[field][0]
            }
        }

        record(errors){
            this.errors = errors.errors
        }
    }
    export default {
        name: "Indigenous",
        mounted() {
            console.log(this.plans)
        }, 

        props: ['plans'],

        data() {
            return {
                errors: new Errors(),
                inputError3: [],
                banks: this.plans ? this.plans : [],
                lists: [],
                indigeneous: {
                    name_of_banks: '',
                    office_location: '',
                },
                list: {
                },
                editMode: false
            }
        },
        methods: {
            newModal () {
                this.indigeneous = {}
                 this.list = {}
                 this.editMode = false
                 $('#add-edit').modal('toggle')
            },

            editModal(list){
                this.indigeneous = {}
                 this.list = {}
                 this.lists = []
                 this.editMode = true
                 this.indigeneous.hidden = list.id
                 this.indigeneous.name_of_banks = list.name_of_banks
                 this.indigeneous.office_location = list.office_location

                 const net = JSON.parse(list.list_of_service)
                 if(net.length > 0){
                     net.map(listed => {
                     const {name, amount} = listed
                     this.lists.push({name, amount})
                 })
                 }
                 
                 console.log(this.lists)
                 $('#add-edit').modal('toggle')
            },
            removeExpenditurePastSix (index){
               this.lists.splice(index)
           },
           addNewList  () {
               this.inputError3 = []
               if (!this.list.name && !this.list.amount){
                   this.inputError3.push('Enter the two field is required')
                    this.$toastr.w("you have some field that has not been entered");
                   return false
               } else if( isNaN(this.list.amount)){
                   this.inputError3.push('Please enter a number on the amount')
                    this.$toastr.w("you dint enter the correct format");
                    return false
               }

               if(this.list){
                   this.lists.push(this.list)
                   this.list = {}
               }
           },
            async submitForm ( ) {
                if(this.lists.length > 0){
                    const list_service = JSON.stringify(this.lists)

                    try{
                        const res = await axios.post('/indigenoues/post', {
                            name_of_banks: this.indigeneous.name_of_banks,
                            office_location: this.indigeneous.office_location,
                            list_of_service: list_service
                        })
                        if(res.data !== ''){
                            this.banks.push(res.data.data)
                            $('#add-edit').modal('toggle')
                        }
                    } catch(error){
                        this.errors.record(error.response.data)
                    }
                } else {
                    this.$toastr.w("please add one list of service");
                }
            },

            async submitEdit () {
                if(this.lists.length > 0){
                    const list_service = JSON.stringify(this.lists)
                    const id = this.indigeneous.hidden

                    try{
                        const res = await axios.post(`/indigenoues/${id}`, {
                            name_of_banks: this.indigeneous.name_of_banks,
                            office_location: this.indigeneous.office_location,
                            list_of_service: list_service
                        })
                        if(res.data !== ''){
                            this.banks.push(res.data)

                            $('#add-edit').modal('toggle')
                        }
                    } catch(error){
                        this.errors.record(error.response.data)
                    }
                } else {
                    this.$toastr.w("please add one list of service");
                }
            }


        }
    }
</script>

<style scoped>
.red-color {
    color: Tomato !important;
}
.image-height{
    width: 100%;
    height: auto;
}
</style>
