<template>
    <div class="element-box" >
                <h5 class="form-header" >
                    Insurance Service Plan Detailes
                    <button class="float-right btn btn-success" data-target="#preview" data-toggle="modal" type="button" style="margin: 0px 4px" >Preview</button>
                    <button class="float-right btn btn-primary" @click.prevent="newAdd" data-toggle="modal" type="button">Add</button>
                </h5>
                <div class="form-desc">
                Easily delete, suspend and change status of a plan
                </div>
                <!-- Start Table -->
                <div class="table-responsive" >
                    <table id="dataTable1" width="100%" class="table table-striped table-lightfont dataTable" role="grid" aria-describedby="dataTable1_info" >
                        <thead>
                            <tr>
                                <th style="width: 300px;">Insurance Provider</th>
                                <th style="width: 300px;">Office Location</th>
                                <th style="width: 300px;">Asset Insured</th>
                                <th style="width: 130px;" >Sum Insured</th>
                                <th style="width: 400px;">Type Of Insurance Cover</th>
                                <th style="width: 200px;">Insurance Broker</th>
                                <th style="width: 300px;" >Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="width: 300px;">Insurance Provider</th>
                                <th style="width: 300px;">Office Location</th>
                                <th style="width: 300px;">Asset Insured</th>
                                <th style="width: 130px;" >Sum Insured</th>
                                <th style="width: 400px;">Type Of Insurance Cover</th>
                                <th style="width: 200px;">Insurance Broker</th>
                                <th style="width: 300px;" >Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr v-for="(insure) in all_insure" :key="insure.id">
                                <td>{{ insure.name_of_insurance_provider }}</td>
                                <td>{{  insure.office_location}}</td>
                                <td>{{  insure.sum_issued}}</td>
                                <td>{{  insure.insurance_broker}}</td>
                                <td>{{  insure.name_of_reinsurance_service_provider}}</td>
                                <td>{{  insure.asset_reinsured}}</td>
                                <td style="display: flex;">
                                    <!-- <button class="mr-1 mb-1 btn btn-danger" ><a><i class="fa fa-trash-o"></i></a></button>  -->
                                    <button class="mr-1 mb-1 btn btn-primary " @click.prevent="EditModel(insure)" data-toggle="modal" type="button">Edit</button>
                                    <!-- <button class="mr-1 mb-1 btn btn-primary " @click.prevent="ViewModel(insure)"  data-toggle="modal" type="button">View</button> -->
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
                <!-- Ends Table -->

                <!-- Add Modal -->

                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="add-edit" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Add Insurance Service Plan
                                </h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form id="add-form">
                                    <ul class="nav nav-tabs">
                                            <li class="spacin"> <a href="#" @click.prevent="InsuredForm">File Forms</a></li>
                                            <li><a class="spacin" href="#2" @click.prevent="InsuredUpload">Upload File</a></li>
                                        </ul>
                                    <div class="class-form" v-if="showForms">
                                        
                                        <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Name Of Insurance Provider</label><input class="form-control" v-model="insures.name_of_insurance_provider" placeholder="" type="text">
                                            </div>
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('name_of_insurance_provider') }}
                                            </div>
                                        </div>

                                            <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Office Location</label><input class="form-control" v-model="insures.office_location" placeholder="" type="text">
                                            </div>
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('office_location') }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label> Asset Insured</label>
                                        <textarea class="form-control" v-model="insures.asset_issued" rows="2"></textarea>
                                    <div class="help-block form-text text-muted form-control-feedback red-color">
                                        {{ errors.get('asset_issued') }}
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Sum Insured </label>
                                        <input class="form-control" v-model="insures.sum_issued" placeholder="Amount" type="text">
                                        <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('sum_issued') }}
                                            </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Type Of Insurance Cover</label>
                                                <input class="form-control" v-model="insures.insurance_cover" placeholder="" type="text">
                                            </div>
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('insurance_cover') }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Insurance Broker</label>
                                                <input class="form-control" v-model="insures.insurance_broker" placeholder="" type="text">
                                            </div>
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('insurance_broker') }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for=""> Name Of Reinsurance Provider</label>
                                        <input class="form-control" v-model="insures.name_of_reinsurance_service_provider" placeholder="" type="text">
                                    <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('name_of_reinsurance_service_provider') }}
                                            </div>
                                    </div>

                                    <div class="form-group">
                                        <label> Asset Reinsured</label>
                                        <textarea class="form-control" v-model="insures.asset_reinsured" rows="2"></textarea>
                                    <div class="help-block form-text text-muted form-control-feedback red-color">
                            
                                            {{ errors.get('asset_reinsured') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Sum Reinsured </label>
                                        <input class="form-control" v-model="insures.sum_reinsured" placeholder="Amount" type="text">
                                    
                                    <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('sum_reinsured') }}
                                            </div>
                                    </div>
            
                                    <div class="form-group">
                                        <label> Reason for Omission</label>
                                        <textarea class="form-control" v-model="insures.reason_for_omission" rows="3"></textarea>
                                    <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('reason_for_omission') }}
                                            </div>
                                    </div>
                                   <!--  -->
                                    <div class="float-right">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                                        <button class="btn btn-primary" type="submit" @click.prevent="submitToggle ? EditSubmitForm() : SubmitForm()">Save and Proceed</button>
                                    
                                    </div>
                                    </div>
                                    <div class="row" v-if="images.length">
                                        <div class="col-sm-2" v-for="(image) in images" :key="image.id">
                                            <img :src="image.file" alt="images" class="img-thumbnail img-fluid image-height img-responsive">
                                        </div>
                                    </div>
                                    <div class="class-image" v-if="showImage">
                                        <div class="form-group" >
                                            <label for=""> Attach Files</label>
                                            <input class="form-control" id="files" ref="files"  type="file"  multiple @change.prevent="changeImage" >
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('files') }}
                                            </div>
                                        </div>

                                        <div class="float-right">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                                            <button class="btn btn-primary" @click.prevent="previousClick" type="submit">Previous</button>
                                            <button class="btn btn-primary" @click.prevent="upload" type="button">Upload File</button>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

                
                <!-- End Add Modal -->
              

                <!-- View Modal -->
                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="view-details" role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                   Full Details 
                                </h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                            </div>
                            <div class="modal-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End View Modal -->
            </div>
</template>

<script>

    class Errors {
        constructor () {
            this.errors = {}
        }

        get(field){
            if(this.errors[field]){
                return this.errors[field][0]
            }
        }

        record(errors){
            this.errors = errors.errors
        }
    }

    export default {
        name: 'Insurance',
        props: ['insured', 'user'],
        mounted() {
            console.log('Component mounted.')
        },
        data () {
            return {
                errors: new Errors(),
                images: [],
                all_insure: this.insured ? this.insured : [],
                insurer: {},
                showForms: true,
                showImage: false,
                submitToggle: false,
                files: [],
                insures: {
                    name_of_insurance_provider: '',
                    office_location: '',
                    asset_issued: '',
                    sum_issued: '',
                    insurance_cover: '',
                    insurance_broker: '',
                    name_of_reinsurance_service_provider: '',
                    asset_reinsured: '',
                    sum_reinsured: '',
                    reason_for_omission: '',
                }
            }
        }, 
        methods: {
            InsuredForm () {
                this.images = []
                this.showImage = false,
                this.showForms = true
            },
            previousClick () {
                this.images = []
                this.showImage = false,
                this.showForms = true
            },

            InsuredUpload () {
                if(!this.insurer.id){
                    this.$toastr.w('No insurance plan')
                    return false
                }
                this.showImage = true,
                this.showForms = false

                if(this.insurer.id && this.submitToggle === true){
                       this.insurer.image.map(image => {
                           this.images.push(image)
                       })
                    }
            },
            changeImage(e) {
                this.files = this.$refs.files.files;
            },

            async upload () {
               let formData = new FormData();
               
                for( var i = 0; i < this.files.length; i++ ){
                let file = this.files[i];

                formData.append('files[' + i + ']', file);

                }
                const config = { headers: { 'Content-Type' : 'multipart/form-data'}}

                if(!this.insurer){
                    this.$toastr.s('No Succession plan')
                    return false
                }

                const id = this.insurer.id 

                try {
                    const res = await axios.post(`/insurance/upload/${id}`, formData, {
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    }
                                })
                    this.images = []
                    res.data.data.map(dataUrl  => {
                        this.images.push({file: dataUrl.file, id: dataUrl.id})
                    })
                    this.$toastr.s('Congratulation! all files has been uploaded successfully')
                } catch (e){
                    this.errors.record(e.response.data)
                }
            },

            newAdd() {
                this.images = []
                this.insurer = {}
                this.showForms = true
                this.showImage =false
                this.submitToggle =false

                $('#add-edit').modal('toggle')

            },

            EditModel(insure) {
                this.images = []
                this.insurer = {}
                this.showForms = true
                this.showImage =false
                this.submitToggle = true,

                this.insures.name_of_insurance_provider = insure.name_of_insurance_provider,
                this.insures.office_location = insure.office_location,
                this.insures.asset_issued = insure.asset_issued,
                this.insures.sum_issued = insure.sum_issued,
                this.insures.insurance_cover = insure.insurance_cover,
                this.insures.insurance_broker = insure.insurance_broker,
                this.insures.name_of_reinsurance_service_provider = insure.name_of_reinsurance_service_provider,
                this.insures.asset_reinsured = insure.asset_reinsured,
                this.insures.sum_reinsured = insure.sum_reinsured,
                this.insures.reason_for_omission = insure.reason_for_omission,

                this.insurer = insure

                $('#add-edit').modal('toggle')
            },

            ViewModel(insure) {
                this.images = []
                this.insurer = {}
                this.showForms = true
                this.showImage =false

                $('#view-details').modal('toggle')
            },

            async SubmitForm () {
                try{
                    const res = await axios.post('/insurance/post', this.insures)

                    if(res.data.errors){
                        this.$toastr.w('For some reason it didnt save to database')
                        return false
                    }

                    this.all_insure.push(res.data.data)

                    this.insurer = res.data.data
                    this.showForms = false
                    this.showImage =true   

                } catch(e) {
                    this.errors.record(e.response.data)
                }
            },

            async EditSubmitForm () {

                if(!this.insurer){
                    this.$toastr.s('No Succession plan')
                    return false
                }

                const id = this.insurer.id 

                try{
                    const res = await axios.post(`/insurance/${id}`, this.insures)

                    if(res.data.errors){
                        this.$toastr.w('For some reason it didnt save to database')
                        return false
                    }
                    if(this.insurer.id){
                       this.insurer.image.map(image => {
                           this.images.push(image)
                       })
                    }
                    this.showForms = false
                    this.showImage =true   

                } catch(e) {
                    this.errors.record(e.response.data)
                }
            }
        }
    }
</script>

<style scoped>
.red-color {
    color: Tomato !important;
}
.image-height{
    width: 100%;
    height: auto;
}
.spacin {
    margin: 20px 15px;
    display: flex
}
</style>