<template>
    <div class="element-box" >
                <h5 class="form-header" >
                Research And Development Plan Details
                    <button class="float-right btn btn-success" data-target="#preview" data-toggle="modal" type="button" style="margin: 0px 4px" >Preview</button>
                    <button class="float-right btn btn-primary" @click.prevent="AddModal" data-toggle="modal" type="button">Add</button>
                </h5>
                <div class="form-desc">
                Easily delete, suspend and change status of a plan
                </div>
                <!-- Start Table -->
                <div class="table-responsive" v-if="researchers.length > 0">
                    <table id="dataTable1" width="100%" class="table table-striped table-lightfont dataTable" role="grid" aria-describedby="dataTable1_info" >
                        <thead>
                            <tr>
                                <th style="width: 400px;">Title</th>
                                <th style="width: 400px;">Content</th>
                                <th style="width: 160px;" >Start Date</th>
                                <th style="width: 160px;" >End Date</th>
                                <th style="width: 200px;" >Action</th>
                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="width: 400px;">Title</th>
                                <th style="width: 400px;">Content</th>
                                <th style="width: 160px;" >Start Date</th>
                                <th style="width: 160px;" >End Date</th>
                                <th style="width: 200px;" >Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr v-for="rech in researchers" :key="rech.id">
                                <td>rech.title</td>
                                <td>rech.rcontent</td>
                                <td>rech.start_date</td>
                                <td>rech.end_date</td>
                                <td style="display: flex;">
                                    <!-- <button class="mr-1 mb-1 btn btn-danger" ><a><i class="fa fa-trash-o"></i></a></button>  -->
                                    <button class="mr-1 mb-1 btn btn-primary " @click.prevent="EditModal(rech)" data-toggle="modal" type="button">Edit</button>
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
                <!-- Ends Table -->

                

                <!-- Add Modal -->

                <div class="modal fade bd-example-modal-lg" id="add-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Add Research And Development
                                </h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="POST" id="add-form">

                                    <ul class="nav nav-tabs">
                                        <li class="spacin"> <a href="#" @click.prevent="FormNav">Fill Forms</a></li>
                                            <li><a class="spacin" href="#2" @click.prevent="UploadNav">Upload File</a></li>
                                        </ul>
                                    <div class="class-form" v-if="showForm">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Title</label><input class="form-control" v-model="rich.title" placeholder="" type="text">
                                                    <div class="help-block form-text text-muted form-control-feedback red-color">
                                                        {{ errors.get('title') }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for=""> Content</label><input class="form-control" v-model="rich.content" placeholder="" type="text">
                                                </div>
                                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('content') }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for=""> Start Date</label>
                                                    <input class="form-control" v-model="rich.start_date" placeholder="" type="date">
                                                </div>
                                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('start_date') }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for=""> End Date</label>
                                                    <input class="form-control" v-model="rich.end_date" placeholder="" type="date">
                                                </div>
                                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('end_date') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="float-right mt-5">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                                            <button class="btn btn-primary" type="button" @click.prevent="toggleModal ? EditSubmitMethod() : SubmitMethod() ">Save and Proceed</button>

                                        </div>
                                    </div>

                                    <div class="row" v-if="showFile">
                                        <div class="row" v-if="images.length">
                                                <div class="col-sm-2" v-for="(image) in images" :key="image.id">
                                                    <img :src="image.file" alt="images" class="img-thumbnail img-fluid image-height img-responsive">
                                                </div>
                                            </div>
                                        <div class="class-image" v-if="showImage">
                                            <div class="form-group" >
                                                <label for=""> Attach Files</label>
                                                <input class="form-control" id="files" ref="files"  type="file"  multiple @change.prevent="changeImage" >
                                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('files') }}
                                                </div>
                                            </div>

                                            <div class="float-right">
                                                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                                                <button class="btn btn-primary" @click.prevent="previousClick" type="submit">Previous</button>
                                                <button class="btn btn-primary" @click.prevent="upload" type="button">Upload File</button>
                                            </div>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                 
            </div>
</template>

<script>
    class Errors {
        constructor () {
            this.errors = {}
        }

        get(field){
            if(this.errors[field]){
                return this.errors[field][0]
            }
        }

        record(errors){
            this.errors = errors.errors
        }
    }

    export default {
        mounted() {
            // console.log(this.researches)
        },
        props: ['user', 'researches'],

        data() {
            return {
                researchers: this.researches.length ? this.researches : [],
                errors: new Errors(),
                toggleModal: false,
                rich: {},
                images: [],
                files: [],
                research: {},
                showForm: true,
                showFile: false,
                showImage: false,
            }
        },

        methods: {
            AddModal () {
                this.toggleModal = false
                this.showForm = true
                this.showFile = false
                this.research = {}
                this.images = []
                $('#add-edit').modal('toggle')
            },

            EditModal (rech) {
                this.toggleModal = true
                this.showForm = true
                this.showFile = false

                this.research = {}
                this.images = []

                this.rich.title = rech.title
                this.rich.content = rech.content
                this.rich.start_date = rech.start_date
                this.rich.end_date = rech.end_date

                this.research = rech
                $('#add-edit').modal('toggle')
            },

            FormNav () {
                this.images = []
                this.showForm = true
                this.showFile = false
            },

            UploadNav () {
                if(!this.research.id){
                    this.$toastr.w('No Development Plan, add one')
                    return false
                }
                this.images = []

                if(this.research.image > 1 && this.toggleModal === true){
                    this.research.image.map(image => {
                        this.images.push(image)
                    })
                }
                this.showForm = false
                this.showImage = true
                this.showFile = true
            },

            previousClick () {
                this.images = []
                this.showForm = true
                this.showImage = false
                this.showFile = false
            },
            
            async SubmitMethod () {
                // this.toggleModal = false
                 try{
                    const res = await axios.post('/research/post', this.rich)

                    if(res.data.errors){
                        this.$toastr.w('For some reason it didnt save to database')
                        return false
                    }

                    this.researchers.push(res.data.data)

                    this.research = res.data.data
                    this.showForm = false
                    this.showImage =true 
                    this.showFile = true  

                } catch(e) {
                    this.errors.record(e.response.data)
                }
            }, 

            async EditSubmitMethod (){
                this.toggleModal = true
                if(!this.research.id){
                    this.$toastr.s('No Succession plan')
                    return false
                }

                const id = this.research.id 

                try{
                    const res = await axios.post(`/research/${id}`, this.rich)

                    if(res.data.errors){
                        this.$toastr.w('For some reason it didnt save to database')
                        return false
                    }
                    this.images = []
                    if(this.research.image > 0){
                       this.research.image.map(image => {
                           this.images.push(image)
                       })
                    }
                    this.showForm = false
                    this.showImage =true 
                    this.showFile = true    

                } catch(e) {
                    this.errors.record(e.response.data)
                }
            },

            changeImage(e) {
                this.files = this.$refs.files.files;
            },

            async upload () {
               let formData = new FormData();

               if(this.files.length < 1){
                   this.$toastr.w('Add at least one file')
                   return false
               }
               
                for( var i = 0; i < this.files.length; i++ ){
                let file = this.files[i];

                formData.append('files[' + i + ']', file);

                }
                const config = { headers: { 'Content-Type' : 'multipart/form-data'}}

                if(!this.research.id){
                    this.$toastr.s('No Succession plan')
                    return false
                }

                const id = this.research.id 

                try {
                    const res = await axios.post(`/research/upload/${id}`, formData, {
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    }
                                })
                    this.images = []
                    res.data.data.map(dataUrl  => {
                        this.images.push({file: dataUrl.file, id: dataUrl.id})
                    })
                    this.$toastr.s('Congratulation! all files has been uploaded successfully')
                } catch (e){
                    this.errors.record(e.response.data)
                }
            },
        }
    }
</script>


<style scoped>
.red-color {
    color: Tomato !important;
}
.image-height{
    width: 100%;
    height: auto;
}
.spacin {
    margin: 20px 15px;
    display: flex
}
</style>
