<template>
    <div class="element-box" >
                <h5 class="form-header" >
                Succession Plan Details
                    <button class="float-right btn btn-success" data-target="#preview" data-toggle="modal" type="button" style="margin: 0px 4px" >Preview</button>
                    <button class="float-right btn btn-primary" @click="AddSuccession" data-toggle="modal" type="button">Add</button>
                </h5>
                <div class="form-desc">
                Easily delete, suspend and change status of a plan
                </div>
                <!-- Start Table -->
                <div class="table-responsive"  v-if="ghanas.length > 0">
                    <table id="dataTable1" width="100%" class="table table-striped table-lightfont dataTable" role="grid" aria-describedby="dataTable1_info" >
                        <thead>
                            <tr>
                                <th style="width: 400px;">Name Of Expatriate</th>
                                <th style="width: 400px;">Position Of Expatriate</th>
                                <th style="width: 180px;">Qualification Of Expatriate</th>
                                <th style="width: 160px;" >Start Date</th>
                                <th style="width: 160px;" >End Date</th>
                                <th style="width: 200px;" >Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(res) in ghanas" :key="res.id">
                                <td>{{ res.name_of_expatriate}}</td>
                                <td>{{ res.expatriate_position}}</td>
                                <td>{{ res.expatraite_certificate}}</td>
                                <td>{{ res.start_date}}</td>
                                <td>{{ res.end_date}}</td>
                                <td style="display: flex;">
                                    <!-- <button class="mr-1 mb-1 btn btn-danger" @click="DeleteModal(res, index)" ><a><i class="fa fa-trash-o"></i></a></button>  -->
                                    <button class="mr-1 mb-1 btn btn-primary" @click="EditModal(res)" data-toggle="modal" type="button">Edit</button>
                                    <button class="mr-1 mb-1 btn btn-warning" @click="ViewModal(res)"  data-toggle="modal" type="button">View </button>
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
                <!-- Ends Table -->

                
                 <!-- Edit Modal -->

                <div class="modal fade bd-example-modal-lg" id="add-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Succession Plan 
                                    </h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form id="add-form">
                                        <ul class="nav nav-tabs">
                                            <li class="spacin"> <a href="#" @click.prevent="ExpatMethod">Expatraite information</a></li>
                                            <li><a class="spacin" href="#2" @click.prevent="GhanaMethod">Add Ghanaian Successor</a></li>
                                            <li><a class="spacin" href="#3" @click.prevent="FileMethod">upload relevent file if any</a></li>
                                        </ul>

                                        <div class="expatraite" v-if="showExpatraite"> 
                                                <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Name Of Expatriate</label><input class="form-control" v-model="expatraite_detail.name_of_expatriate" placeholder="" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for=""> Position Of Expatriate</label><input class="form-control" v-model="expatraite_detail.expatriate_position" placeholder="" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Qualification Of Expatriate</label><input class="form-control" v-model="expatraite_detail.expatraite_certificate" placeholder="" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for=""> Expatriate Years Of Experience</label><input class="form-control" v-model="expatraite_detail.expatraite_working_experince" placeholder="" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Start Date</label><input class="form-control" v-model="expatraite_detail.start_date" placeholder="" type="date">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">End of Succession</label><input class="form-control" v-model="expatraite_detail.end_date" placeholder="" type="date">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label> Remarks For Expatriate</label>
                                                <textarea class="form-control" v-model="expatraite_detail.remarks" rows="2"></textarea>
                                            </div>

                                            <!-- ghana details -->
                                            <button class="btn btn-primary mb-3" type="button" @click.prevent="NextMethod">Next</button>
                                        </div>

                                        <div class="ghanaian" v-if="showGhanaian">
                                            <div class="help-block form-text text-muted form-control-feedback red-color" v-if="error1.length">
                                                <li v-for="error in error1" :key="error.id">{{ error }}</li>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Name Of Ghanaian</label><input class="form-control" v-model="ghanaian_detail.name_of_ghanaian" placeholder="" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for=""> Position Of Ghanaian</label><input class="form-control" v-model="ghanaian_detail.position" placeholder="" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Qualification Of Ghanaian</label><input class="form-control" v-model="ghanaian_detail.gh_qualification" placeholder="" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">  Ghanaian Years Of Experience</label><input class="form-control" v-model="ghanaian_detail.gh_year_experience" placeholder="" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label> Remarks For Ghanaian</label>
                                                <textarea class="form-control" v-model="ghanaian_detail.remarks" rows="2"></textarea>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Required Skill</label><input class="form-control" v-model="ghanaian_detail.skill_required" placeholder="" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for=""> Certicate To Undertake</label><input class="form-control" v-model="ghanaian_detail.certificate_to_undertake" placeholder="" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for=""> KPI %</label><input class="form-control" v-model="ghanaian_detail.kpi" placeholder="" type="text">
                                            </div>

                                            
                                            <div class="float-right mt-5">
                                                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                                                <button class="btn btn-primary" type="button" @click.prevent="Previous1">Previous</button>

                                                <button class="btn btn-primary" type="button" @click.prevent="AddGh">All Sucessor</button>

                                                <button class="btn btn-primary" type="button" @click.prevent="EditMode ? EditSubmitPlan : SubmitPlan">Save</button>
                                            </div>
                                        </div> <br><br> <br>

                                        <div class="table-responsive" v-if="showTable">
                                            <table class="table table-bordered table-lg table-v2 table-striped">
                                            <thead>
                                                <tr>
                                                <th class="text-center">
                                                    no
                                                </th>
                                                <th>
                                                    Name of Ghanaian 
                                                </th>

                                                <th>
                                                    Position
                                                </th>

                                                <th>
                                                    Experience
                                                </th>

                                                <th>
                                                    Name of Ghanaian 
                                                </th>

                                                <th>
                                                    Remarks
                                                </th>

                                                <th>
                                                    Skill
                                                </th>
                                                
                                                <th>
                                                    Certicate to Undertake
                                                </th>

                                                <th>
                                                    KPI
                                                </th>
                                                <th>
                                                    Actions
                                                </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="shareholderParent" v-for="(gh,index) in ghana" :key="gh.id">
                                                <td class="text-center">
                                                    {{ index + 1 }}
                                                </td>

                                                <td>
                                                    {{ gh.name_of_ghanaian }}
                                                </td>
                                                <td>
                                                    {{ gh.position }}
                                                </td>
                                                <td>
                                                    {{ gh.gh_qualification }}
                                                </td>
                                                <td>
                                                    {{ gh.gh_year_experience }}
                                                </td>
                                                <td>
                                                    {{ gh.remarks }}
                                                </td>
                                                <td>
                                                    {{ gh.skill_required }}
                                                </td>
                                                <td>
                                                    {{ gh.certificate_to_undertake }}
                                                </td>
                                                <td>
                                                    {{ gh.kpi }} 
                                                </td>
                                                <td class="row-actions">
                                                    <button class="danger" @click.prevent="removeNature(index)"><i class="os-icon os-icon-ui-15"></i></button>
                                                </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>

                                        <div class="row" v-if="images.length">
                                            <div class="col-sm-2" v-for="(image) in images" :key="image.id">
                                                <img :src="image.file" alt="images" class="img-thumbnail img-fluid image-height img-responsive">
                                            </div>
                                        </div>
                                         
                                         <div class="file-upload">
                                             <div class="row" >
                                                <div class="col-sm-6">
                                                    <div class="form-group" v-if="showFile">
                                                        <label for=""> Attach Files</label>
                                                        <input class="form-control" id="files" ref="files"  type="file"  multiple @change="changeImage" >
                                                        <div class="help-block form-text text-muted form-control-feedback red-color">
                                                                {{ errors.get('files') }}
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-buttons-w">
                                                        <button class="btn btn-primary" type="submit" @click.prevent="upload"> Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- View Modal -->


                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="view-details" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                  Full Details
                                </h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h6>Name of Expatraite: {{ succession_plan.name_of_expatriate }} </h6> 
                                        <hr>
                                    </div>  
                                    <div class="col-12">
                                        <h6>Expatraite Positon:  {{ succession_plan.expatriate_position }} </h6> 
                                        <hr>
                                     </div>
                                     <div class="col-12">
                                        <h6>Expatraite Qualification   {{ succession_plan.expatraite_certificate }} </h6> 
                                        <hr>
                                     </div>
                                     <div class="col-12">
                                        <h6>Expatraite Working Experience:   {{ succession_plan.expatraite_working_experince }} </h6>
                                        <hr>
                                     </div>
                                     <div class="col-12">
                                        <h6>Remarks:  {{ succession_plan.remarks }} </h6> 
                                        <hr>
                                     </div>
                                     <div class="col-12">
                                        <h6>Start Date:  {{ succession_plan.start_date }}</h6> 
                                        <hr>
                                     </div>

                                     <div class="col-12">
                                        <h6>End Date:  {{ succession_plan.end_date }}</h6> 
                                        <hr>
                                     </div>
                                       
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- End View Modal -->
            </div>
</template>

<script>

   import axios from 'axios'

   class Errors {
        constructor () {
            this.errors = {}
        }

        get(field){
            if(this.errors[field]){
                return this.errors[field][0]
            }
        }

        record(errors){
            this.errors = errors.errors
        }
    }
    export default {
        mounted() {
            // console.log(this.successions)
        },
        props: ['successions', 'user'],
        data () {
            return {
                errors: new Errors(),
                ghana: [],
                ghanas: this.successions ? this.successions : [],
                error1: [],
                images: [],
                expatraite_detail: {},
                ghanaian_detail: {},
                succession_plan: {},
                showExpatraite: true,
                showGhanaian: false,
                showFile: false,
                showTable: false,
                EditMode: false,
            }
        }, 
        methods: {
            ExpatMethod () {
                this.prev1()
                this.showTable = false
                this.images = []
                this.showFile = false
            },
            GhanaMethod () {
                this.nextClick()
                if(this.ghana.length > 0){
                    this.showTable = true
                }
                this.showFile = false
                this.images = []
            },
            FileMethod () {
                if(!this.succession_plan){
                    this.$toastr.w('no succession plan')
                        return false
                }
                this.showExpatraite = false
                this.showGhanaian = false,
                this.showFile = true

                this.showTable = false
            },

            NextMethod () {
                this.nextClick()
            },

            nextClick() {
                if(!this.expatraite_detail.name_of_expatriate && !this.expatraite_detail.expatriate_position
                        && !this.expatraite_detail.expatraite_certificate && !this.expatraite_detail.expatraite_working_experince
                        && !this.expatraite_detail.remarks && !this.expatraite_detail.start_date 
                        && !this.expatraite_detail.end_date){
                            this.$toastr.w('Sorry all the expatraite detail must ben entered')
                            return false
                        }
                this.showExpatraite = false
                this.showGhanaian = true,
                this.showFile = false
            },

            tickerTick () {
                if(!this.expatraite_detail.name_of_expatriate && !this.expatraite_detail.expatriate_position
                        && !this.expatraite_detail.expatraite_certificate && !this.expatraite_detail.expatraite_working_experince
                        && !this.expatraite_detail.remarks && !this.expatraite_detail.start_date 
                        && !this.expatraite_detail.end_date){
                            this.$toastr.w('Sorry all the expatraite detail must ben entered')
                            return false
                        }
            },

            Previous1 () {
                this.prev1()
            },

            prev1(){
                this.showExpatraite = true
                this.showGhanaian = false,
                this.showTable = false
                this.showFile = false
            }, 

            AddGh () {
                this.checkGhanaian()

                if(!this.ghanaian_detail.name_of_ghanaian && !this.ghanaian_detail.position && !this.ghanaian_detail.gh_year_experience 
                    && !this.ghanaian_detail.gh_qualification && !this.ghanaian_detail.remarks
                    && !this.ghanaian_detail.skill_required && !this.ghanaian_detail.certificate_to_undertake
                    && !this.ghanaian_detail.kpi){
                        this.$toastr.w('Enter all the fields')
                        return false
                 }


                this.ghana.push(this.ghanaian_detail)
                this.showTable = true
                this.ghanaian_detail = {}
            },

            checkGhanaian() {
                this.error1 = []
                if(!this.ghanaian_detail.name_of_ghanaian){
                    this.error1.push('ghanaian name is required');
                }

                if(!this.ghanaian_detail.position){
                    this.error1.push('enter postion for ghanaian');
                }

                if(!this.ghanaian_detail.gh_year_experience){
                    this.error1.push('Year of experience');
                }

                if(!this.ghanaian_detail.gh_qualification){
                    this.error1.push('ghanaian name quailification');
                }

                if(!this.ghanaian_detail.remarks){
                    this.error1.push('relevant remarks');
                }

                if(!this.ghanaian_detail.skill_required){
                    this.error1.push('skill required');
                }

                if(!this.ghanaian_detail.certificate_to_undertake){
                    this.error1.push('certifaicate');
                }

                if(!this.ghanaian_detail.kpi){
                    this.error1.push('key performance index');
                }
            },

            async upload () {
               let formData = new FormData();
                for( var i = 0; i < this.files.length; i++ ){
                let file = this.files[i];

                formData.append('files[' + i + ']', file);

                }
                const config = { headers: { 'Content-Type' : 'multipart/form-data'}}

                if(!this.succession_plan){
                    this.$toastr.s('No Succession plan')
                    return false
                }

                const id = this.succession_plan.id

                try {
                    const res = await axios.post(`/succession/upload/${id}`, formData, {
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    }
                                })
                    this.images = []
                    res.data.data.map(dataUrl  => {
                        this.images.push({file: dataUrl.file, id: dataUrl.id})
                    })
                    this.$toastr.s('Congratulation! all files has been uploaded successfully')
                } catch (e){
                    this.errors.record(e.response.data)
                }
            },

            async SubmitPlan () {
                this.tickerTick()
                if (this.ghana.length > 0){
                    const ghanaians_detials = JSON.stringify(this.ghana)
                    try {
                        const res = await axios.post('/succession/post', {
                        ghanaians_detials,
                        name_of_expatriate: this.expatraite_detail.name_of_expatriate,
                        expatriate_position: this.expatraite_detail.expatriate_position,
                        expatraite_certificate: this.expatraite_detail.expatraite_certificate,
                        expatraite_working_experince: this.expatraite_detail.expatraite_working_experince,
                        remarks: this.expatraite_detail.remarks,
                        start_date: this.expatraite_detail.start_date,
                        end_date: this.expatraite_detail.end_date
                    })

                    if(!res.data.errors){
                        this.succession_plan = res.data.data
                        this.ghanas.push(res.data.data)
                        this.showExpatraite = false
                        this.showGhanaian = false,
                        this.showFile = true
                        this.ghana = []
                        this.expatraite_detail = {}
                        this.$toastr.s('Congratulation Plan has been entered')
                    } else {
                         $('#add-edit').modal('toggle')
                        this.$toastr.w('Ooops can create at this time')
                    }
                    } catch (error) {
                        this.errors.record = error.response.data
                    }
                } else {
                    this.$toastr.w('All field must be entered correctly')
                }
                
            },

            changeImage(e) {
                this.files = this.$refs.files.files;
            },

            AddSuccession() {
                this.EditMode = false
                this.ghana = []
                this.images = []
                this.succession_plan = {}
                this.expatraite_detail = {}

                $('#add-edit').modal('toggle')
            },

            removeNature (index) {
               this.ghana.splice(index)
           },

           DeleteModal(user, index){

           },

           EditModal(user){
               this.expatraite_detail = {},
               this.ghana = [],
               this.succession_plan = {}
               this.images = []
               this.expatraite_detail.name_of_expatriate = user.name_of_expatriate
               this.expatraite_detail.expatriate_position = user.expatriate_position
               this.expatraite_detail.expatraite_certificate = user.expatraite_certificate
               this.expatraite_detail.expatraite_working_experince = user.expatraite_working_experince
               this.expatraite_detail.remarks = user.remarks
               this.expatraite_detail.start_date = user.start_date
               this.expatraite_detail.end_date = user.end_date
               this.succession_plan = user
               const saveGhana = JSON.parse(user.ghanaians_detials)
               if(user.image.length > 0){
                   user.image.map(rest => {
                       this.images.push(rest)
                   })
               }
               saveGhana.map(res => {
                   this.ghana.push(res)
               })
               this.showTable = false
               $('#add-edit').modal('toggle')
           },

           ViewModal(user){
               this.ghana = [],
               this.images = []
               this.succession_plan = {}
               this.EditMode = true
               const saveGhana = JSON.parse(user.ghanaians_detials)
               if(user.image.length > 0){
                   user.image.map(rest => {
                       this.images.push(rest)
                   })
               }
               this.succession_plan = user
               saveGhana.map(res => {
                   this.ghana.push(res)
               })
               this.showTable = false
               $('#view-details').modal('toggle')
           },

           async EditSubmitPlan () {
               this.tickerTick()
                if (this.ghana.length > 0){
                    const ghanaians_detials = JSON.stringify(this.ghana)
                    try {
                        const id = this.succession_plan.id
                        const res = await axios.post(`/succession/${id}`, {
                        ghanaians_detials,
                        name_of_expatriate: this.expatraite_detail.name_of_expatriate,
                        expatriate_position: this.expatraite_detail.expatriate_position,
                        expatraite_certificate: this.expatraite_detail.expatraite_certificate,
                        expatraite_working_experince: this.expatraite_detail.expatraite_working_experince,
                        remarks: this.expatraite_detail.remarks,
                        start_date: this.expatraite_detail.start_date,
                        end_date: this.expatraite_detail.end_date
                    })

                    if(!res.data.errors){
                        this.succession_plan = res.data.data
                        this.ghanas.push(res.data.data)
                        this.showExpatraite = false
                        this.showGhanaian = false,
                        this.showFile = true
                        this.ghana = []
                        this.expatraite_detail = {}
                        this.$toastr.s('Congratulation Plan has been entered')
                    } else {
                         $('#add-edit').modal('toggle')
                        this.$toastr.w('Ooops can create at this time')
                    }
                    } catch (error) {
                        this.errors.record = error.response.data
                    }
                } else {
                    this.$toastr.w('All field must be entered correctly')
                }
           }

        }


    }


</script>


<style scoped>
.red-color {
    color: Tomato !important;
}
.image-height{
    width: 100%;
    height: auto;
}
.spacin {
    display: flex;
    margin: 20px 15px;
}
</style>