<template>
    <div class="element-box" >
        <h5 class="form-header" >
        Technology Transfer Plan Details
            <button class="float-right btn btn-success" data-target="#preview" data-toggle="modal" type="button" style="margin: 0px 4px" >Preview</button>
            <button class="float-right btn btn-primary" @click.prevent="AddModal" data-toggle="modal" type="button">Add</button>
        </h5>
        <div class="form-desc">
        Easily delete, suspend and change status of a plan
        </div>
        <!-- Start Table -->
        <div class="table-responsive" v-if="technologies.length">
            <table id="dataTable1" width="100%" class="table table-striped table-lightfont dataTable" role="grid" aria-describedby="dataTable1_info" >
                <thead>
                    <tr>
                        <th style="width: 400px;">Initiative Programme</th>
                        <th style="width: 400px;">Implementaion Strategy</th>
                        <th style="width: 180px;">Expenditure Incurred</th>
                        <th style="width: 180px;" >Start Date</th>
                        <th style="width: 180px;" >End Date</th>
                        <th style="width: 200px;" >Action</th>
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th style="width: 400px;">Initiative Programme</th>
                        <th style="width: 400px;">Implementaion Strategy</th>
                        <th style="width: 180px;">Expenditure Incurred</th>
                        <th style="width: 180px;" >Start Date</th>
                        <th style="width: 180px;" >End Date</th>
                        <th style="width: 200px;" >Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr v-for="(tech) in technologies" :key="tech.id">
                        <td>{{ tech.initiative_programme }}</td>
                        <td>{{ tech.implementaion_strategy }}</td>
                        <td>{{ tech.expenditure_incurred }}</td>
                        <td>{{ tech.start_date }}</td>
                        <td>{{ tech.end_date }}</td>
                        <td style="display: flex;"> 
                            <button class="mr-1 mb-1 btn btn-primary " @click.prevent="EditModal(tech)" data-toggle="modal" type="button">Edit</button>
                            <button class="mr-1 mb-1 btn btn-warning " @click.prevent="ViewModal(tech)" data-target="#view-details" data-toggle="modal" type="button">View </button>
                        </td>
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
        <!-- Ends Table -->

            <!-- Add Modal -->
            <div class="modal fade bd-example-modal-lg" id="add-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Add Technology Transfer Plan 
                            </h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form >
                                <ul class="nav nav-tabs">
                                    <li class="spacin"> <a href="#" @click.prevent="InsuredForm">Fill Forms</a></li>
                                    <li><a class="spacin" href="#2" @click.prevent="InsuredUpload">Upload File</a></li>
                                </ul>
                                <div class="class-form" v-if="showForm">
                                    <div class="form-group">
                                        <label for="">Initiative Programmer</label><input class="form-control" v-model="technology.initiative_programme" placeholder="" type="text">
                                        <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('initiative_programme') }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for=""> Implementaion Strategy</label><input class="form-control" v-model="technology.implementaion_strategy" placeholder="" type="text">
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('implementaion_strategy') }}
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Expenditure Incurred</label><input class="form-control" v-model="technology.expenditure_incurred" placeholder="" type="text">
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('expenditure_incurred') }}
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Joint Venture Expertise Role</label><input class="form-control" v-model="technology.jv_expertise_role" placeholder="" type="text">
                                                </div>
                                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('jv_expertise_role') }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for=""> Joint Venture Ghanaian Role</label><input class="form-control" v-model="technology.jv_ghanaian_role" placeholder="" type="text">
                                                </div>
                                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('jv_ghanaian_role') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label> Joint Venture Strategy For Transfer Of Technology</label>
                                            <input class="form-control" v-model="technology.jv_strategy_for_transfer_of_technology" placeholder="" type="text">
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('jv_strategy_for_transfer_of_technology') }}
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Joint Venture Strategy For Transfer Skill</label>
                                            <input class="form-control" v-model="technology.jv_strategy_for_transfer_of_skill" placeholder="" type="text">
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('jv_strategy_for_transfer_of_skill') }}
                                                </div>
                                        </div>

                                        <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Start Date</label>
                                                <input class="form-control" v-model="technology.start_date" placeholder="" type="date">
                                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('start_date') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> End Date</label>
                                                <input class="form-control" v-model="technology.end_date" placeholder="" type="date">
                                                <div class="help-block form-text text-muted form-control-feedback red-color">
                                                    {{ errors.get('end_date') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!--Ends  -->
                                    <div class="float-right mt-5">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                                        <button class="btn btn-primary" type="button" @click="submitToggle ? EditSubmitFrom() : SubmitForm() ">Save and Proceed</button>

                                    </div>
                                </div>

                                    <div class="row" v-if="images.length">
                                            <div class="col-sm-2" v-for="(image) in images" :key="image.id">
                                                <img :src="image.file" alt="images" class="img-thumbnail img-fluid image-height img-responsive">
                                            </div>
                                        </div>
                                    <div class="class-image" v-if="showImage">
                                        <div class="form-group" >
                                            <label for=""> Attach Files</label>
                                            <input class="form-control" id="files" ref="files"  type="file"  multiple @change.prevent="changeImage" >
                                            <div class="help-block form-text text-muted form-control-feedback red-color">
                                                {{ errors.get('files') }}
                                            </div>
                                        </div>

                                        <div class="float-right">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                                            <button class="btn btn-primary" @click.prevent="previousClick" type="submit">Previous</button>
                                            <button class="btn btn-primary" @click.prevent="upload" type="button">Upload File</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        
            <!-- View Modal -->

            <div class="modal fade bd-example-modal-lg" id="view-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Full Details
                        </h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <h6>Initiative Programme:  </h6> 
                                <hr>
                            </div>  
                            <div class="col-12">
                                <h6>Implementaion Strategy:  </h6> 
                                <hr>
                                </div>
                                <div class="col-12">
                                <h6>Expenditure Incurred: </h6> 
                                <hr>
                                </div>
                                <div class="col-12">
                                <h6>Joint Ventured Expertise Role:  </h6>
                                <hr>
                                </div>
                                <div class="col-12">
                                <h6>Joint Ventured Ghanaian Role: </h6> 
                                <hr>
                                </div>
                                <div class="col-12">
                                <h6>Joint Ventured Strategy For Transfer Of Technology: </h6> 
                                <hr>
                                </div>
                                <div class="col-12">
                                <h6>Joint Ventured Strategy For Transfer Skill:  </h6> 
                                <hr>
                                </div>
                                <div class="col-12">
                                <h6>Start Date: </h6> 
                                <hr>
                                </div>
                                <div class="col-12">
                                <h6>End Date: </h6> 
                                <hr>
                                </div>
                                
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        <!-- End View Modal -->
    </div>
</template>

<script>
    class Errors {
        constructor () {
            this.errors = {}
        }

        get(field){
            if(this.errors[field]){
                return this.errors[field][0]
            }
        }

        record(errors){
            this.errors = errors.errors
        }
    }

    export default {

        mounted() {
            // console.log(this.techs)
        },
        props: ['techs', 'user'],

        data () {
            return {
                errors: new Errors(),
                technologies: this.techs.length ? this.techs : [],
                files: [],
                images: [],
                technology: {},
                techy: {},
                showForm: true,
                showImage: false,
                submitToggle: false,

            }
        }, 

        methods: {
            AddModal () {
                this.showForm = true,
                this.showImage = false,
                this.techy = {}
                $('#add-edit').modal('toggle')
            },
            EditModal (tech) {
                this.techy = {}
                this.showForm = true
                this.showImage = false
                this.submitToggle = true

                this.technology.initiative_programme = tech.initiative_programme
                this.technology.start_date = tech.start_date
                this.technology.end_date = tech.end_date
                this.technology.implementaion_strategy = tech.implementaion_strategy
                this.technology.expenditure_incurred = tech.expenditure_incurred
                this.technology.jv_expertise_role = tech.jv_expertise_role
                this.technology.jv_strategy_for_transfer_of_technology = tech.jv_strategy_for_transfer_of_technology
                this.technology.jv_strategy_for_transfer_of_skill = tech.jv_strategy_for_transfer_of_skill

                this.techy = tech
                console.log(tech)
                $('#add-edit').modal('toggle')
            },
            ViewModal (tech) {
                this.techy = {}
                this.techy = tech
                $('#view-modal').modal('toggle')
            },

            InsuredForm () {
                this.showForm = true
                this.showImage = false
                this.images = []
            },

            InsuredUpload () {
                this.images = []
                if(!this.techy.id){
                    this.$toastr.w('There is no technology transfer')
                    return false
                }

                if(this.techy.id && this.submitToggle === true){
                    this.techy.image.map(image => {
                        this.images.push(image)
                    })
                }

                this.showForm = false
                this.showImage = true
            },

            async SubmitForm () {
                this.submitToggle = false
                 try{
                    const res = await axios.post('/technology/post', this.technology)

                    if(res.data.errors){
                        this.$toastr.w('For some reason it didnt save to database')
                        return false
                    }

                    this.technologies.push(res.data.data)

                    this.techy = res.data.data
                    console.log(this.technologies)
                    this.showForm = false
                    this.showImage =true   

                } catch(e) {
                    this.errors.record(e.response.data)
                }
            },

            async EditSubmitFrom () {
                this.submitToggle = true
                if(!this.techy.id){
                    this.$toastr.s('No Succession plan')
                    return false
                }

                const id = this.techy.id 

                try{
                    const res = await axios.post(`/technology/${id}`, this.insures)

                    if(res.data.errors){
                        this.$toastr.w('For some reason it didnt save to database')
                        return false
                    }
                    this.images = []
                    if(this.techy.id){
                       this.techy.image.map(image => {
                           this.images.push(image)
                       })
                    }
                    this.showForm = false
                    this.showImage =true   

                } catch(e) {
                    this.errors.record(e.response.data)
                }
            },


            changeImage(e) {
                this.files = this.$refs.files.files;
            },

            async upload () {
               let formData = new FormData();

               if(this.files.length < 1){
                   this.$toastr.w('Add at least one file')
                   return false
               }
               
                for( var i = 0; i < this.files.length; i++ ){
                let file = this.files[i];

                formData.append('files[' + i + ']', file);

                }
                const config = { headers: { 'Content-Type' : 'multipart/form-data'}}

                if(!this.techy.id){
                    this.$toastr.s('No Succession plan')
                    return false
                }

                const id = this.techy.id 

                try {
                    const res = await axios.post(`/technology/upload/${id}`, formData, {
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    }
                                })
                    this.images = []
                    res.data.data.map(dataUrl  => {
                        this.images.push({file: dataUrl.file, id: dataUrl.id})
                    })
                    this.$toastr.s('Congratulation! all files has been uploaded successfully')
                } catch (e){
                    this.errors.record(e.response.data)
                }
            },

        }
    }
</script>

<style scoped>
.red-color {
    color: Tomato !important;
}
.image-height{
    width: 100%;
    height: auto;
}
.spacin {
    margin: 20px 15px;
    display: flex
}
</style>